<aside class="sidebar">
    <div class="branding">
        <img src="/Logo.png" alt="Logo" class="navbar-logo" />
    </div>

    <div class="user-info">
        <div class="avatar">{{ userName?.[0] }}</div>
        <div>
            <div class="username">{{ userName }}</div>
            <div class="role">Usuario</div>
        </div>
    </div>

    <ul class="nav-links list-unstyled">
        <li><a routerLink="reservas" class="nav-link" routerLinkActive="active">Mis Reservas</a></li>
    </ul>

    <div class="logout">
        <button class="logout-btn" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
</aside>