<div class="auth-container">
    <div class="auth-card">
        <div class="auth-logo-container">
            <a href="/">
                <img src="necoArcBase.png" alt="Neco Arc" class="auth-logo" />
            </a>
        </div>

        <h2 class="auth-title">Crear Cuenta</h2>

        <form class="auth-form" [formGroup]="formRegister">
            <div class="form-group">
                <label for="name">Nombre completo</label>
                <input type="text" id="name" class="form-input" placeholder="Tu nombre" formControlName="usuario"/>
                @if(usuario?.invalid && (usuario?.dirty || usuario?.touched)){
                    @if (usuario?.hasError('required')) {
                        <span>- El campo es obligatorio*</span>
                    }
                    @if(usuario?.hasError('containNumbers')){
                        <span>- El campo no acepta numeros*</span>
                        }
                    @if(usuario?.hasError('forbiddenSpecialChars')){
                        <span>- El campo no acepta caracteres especiales*</span>
                    }
                }
                
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" class="form-input" placeholder="tu@email.com" formControlName="correo"/>
                @if (correo?.invalid && (correo?.dirty || correo?.touched)) {
                    @if (correo?.hasError('required')) {
                        <span>- El campo es obligatorio*</span>
                    }
                    @if (correo?.hasError('email')) {
                        <span>- El campo no tiene el formato correcto*</span>
                    }
                }
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" class="form-input" placeholder="••••••••" formControlName="contrasenia"/>
                @if (contrasenia?.invalid && (contrasenia?.dirty || contrasenia?.touched)) {
                    @if (contrasenia?.hasError('required')) {
                        <span>- El campo es obligatorio*</span>
                    }
                    @if (contrasenia?.hasError('minlength')) {
                        <span>- El campo debe tener por lo menos 6 caracteres*</span>
                    }
                }
            </div>

            <button type="submit" class="auth-button" [disabled]="formRegister.invalid">Registrarse</button>
        </form>

        <div class="auth-links">
            <a class="auth-link" routerLink="/login">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
    </div>
</div> 