<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>{{ isReservaCreada ? 'Confirmar Pago' : 'Agregar Nueva Reserva' }}</h2>
        <a class="btn btn-secondary" routerLink="/user/reservas">Volver a Mis Reservas</a>
    </div>

    <div class="card p-4 shadow-sm">
        <form [formGroup]="formReserva">
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="fecha" class="form-label">Fecha</label>
                    <input type="date" id="fecha" class="form-control" formControlName="fecha">
                </div>
                <div class="col-md-3">
                    <label for="horaInicio" class="form-label">Hora de Inicio</label>
                    <input type="time" id="horaInicio" class="form-control" formControlName="horaInicio">
                </div>
                <div class="col-md-3">
                    <label for="horaFin" class="form-label">Hora de Fin</label>
                    <input type="time" id="horaFin" class="form-control" formControlName="horaFin">
                </div>
                <div class="col-md-6">
                    <label for="asistentes" class="form-label">Número de Asistentes</label>
                    <input type="number" id="asistentes" class="form-control" formControlName="asistentes" min="1">
                </div>
                <div class="col-md-6">
                    <label for="espacio" class="form-label">Espacio de Evento</label>
                    <select id="espacio" class="form-select" formControlName="espacio">
                        <option [ngValue]="null" disabled>Seleccione un espacio</option>
                        <ng-container *ngFor="let espacio of (espacios$ | async)">
                            <option [ngValue]="espacio.id">{{ espacio.nombre }} ({{ espacio.ubicacion }})</option>
                        </ng-container>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="plan" class="form-label">Plan</label>
                    <select id="plan" class="form-select" formControlName="plan" (change)="onPlanChange($event)">
                        <option [ngValue]="null" disabled>Seleccione un plan</option>
                        <ng-container *ngFor="let plan of (planes$ | async)">
                            <option [ngValue]="plan.id">{{ plan.nombre }} - {{ plan.precio | currency }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <hr>
            <ng-container *ngIf="isReservaCreada">
                <div class="row g-3">
                    <div class="col-md-6">
                        <label for="metodoPago" class="form-label">Seleciona tu Método de Pago</label>
                        <select id="metodoPago" class="form-select" formControlName="metodoPago">
                            <option value="TARJETA">TARJETA</option>
                            <option value="EFECTIVO">EFECTIVO</option>
                            <option value="TRANSFERENCIA">TRANSFERENCIA</option>
                        </select>
                    </div>
                </div>
            </ng-container>

            <div class="d-grid gap-2 mt-4">
                <button type="button" class="btn btn-secondary"
                    [disabled]="formReserva.invalid || isReservaBeingCreated" (click)="crearReserva()">
                    Crear Reserva
                </button>

                <button type="button" class="btn btn-secondary" [disabled]="!isReservaCreada || isPagoBeingCreated"
                    (click)="crearPago()">
                    Crear Pago
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="reservaCreada" class="mt-4 alert alert-info">
        <strong>Reserva creada exitosamente:</strong>
        <p><strong>ID de la Reserva:</strong> {{ reservaCreada.id }}</p>
        <p><strong>Fecha:</strong> {{ reservaCreada.fecha }}</p>
        <p><strong>Hora de Inicio:</strong> {{ reservaCreada.horaInicio }}</p>
        <p><strong>Hora de Fin:</strong> {{ reservaCreada.horaFin }}</p>
        <p><strong>Asistentes:</strong> {{ reservaCreada.asistentes }}</p>
        <p><strong>Estado:</strong> {{ reservaCreada.estado }}</p>

        <div *ngIf="pagoProyectado" class="mt-4 alert alert-warning">
            <strong>Pago proyectado:</strong>
            <p><strong>Monto:</strong> {{ pagoProyectado.monto | currency }}</p>
            <p><strong>Método de Pago:</strong> {{ pagoProyectado.metodoPago }}</p>
            <p><strong>Fecha de Pago:</strong> {{ pagoProyectado.fechaPago | date:'dd/MM/yyyy' }}</p>
            <p><strong>ID de la Reserva Asociada:</strong> {{ pagoProyectado.reserva.id }}</p>
        </div>

    </div>
</div>