<aside class="sidebar">
  <div class="branding">
    <img src="/Logo.png" alt="Logo" class="navbar-logo" />
  </div>

  <div class="user-info">
    <div class="avatar">{{ username?.[0] }}</div>
    <div>
      <div class="username">{{ username }}</div>
      <div class="role">Administrador</div>
    </div>
  </div>

  <ul class="nav-links list-unstyled">
    <li><a routerLink="dashboard" class="nav-link">Dashboard</a></li>
    <li><a routerLink="locales" class="nav-link">Locales</a></li>
    <li><a routerLink="planes" class="nav-link">Planes</a></li>
    <li><a routerLink="reservas" class="nav-link">Reservas</a></li>
    <li><a routerLink="pagos" class="nav-link">Historial Pagos</a></li>
  </ul>

  <div class="logout">
    <button class="logout-btn" (click)="cerrarSesion()">Cerrar Sesión</button>
  </div>
</aside>
